<div class="row">
  <div class="col-md-4">
    <button mat-raised-button color="primary" (click)="getClientes()">Ver clientes</button>
  </div>
  <div class="col-md-4">
    <button mat-raised-button color="primary" (click)="getUltimosClientes()">Ver ultimos clientes</button>
  </div>
  <div class="col-md-4">
    <button mat-raised-button color="primary" (click)="searchInClientes()">Buscar en clientes</button>
  </div>
</div>

<div *ngFor="let cliente of clientes">
  <mat-card>
      <mat-card-title>Nombre: {{cliente.nombre}}</mat-card-title>	
          <mat-card-subtitle>{{cliente.direccion | uppercase}}</mat-card-subtitle>
          <mat-card-content>Teléfono: {{cliente.telefono}}</mat-card-content>
          <mat-card-footer>Comentarios: {{cliente.comentarios}}	</mat-card-footer>
  </mat-card>
</div>
