<form [formGroup]="form">
  <h3>Insertar tela</h3>
  <div class="row">
    <div class="col-md-6">
      <mat-form-field>
        <input
          matInput
          formControlName="nombre"
          type="text"
          placeholder="Nombre"
        />
        <mat-error *ngIf="nombre.invalid && nombre.touched"
          >Es obligatorio un nombre</mat-error
        >
      </mat-form-field>
    </div>

    <div class="col-md-6">
      <mat-form-field>
        <input
          matInput
          formControlName="tipo"
          type="text"
          placeholder="Tipo"
          list="tipos"
        />
        <datalist id="tipos">
          <option value="Polipiel"> </option>
          <option value="Chenilla"> </option>
          <option value="Terciopelo"> </option>
          <option value="Piel natural"> </option>
          <option value="Damasco"> </option>
          <option value="Yute"> </option>
          <option value="Tela para exteriores"> </option>
          <option value="Lavable"> </option>
        </datalist>
      </mat-form-field>
    </div>

    <div class="col-md-6">
      <mat-form-field>
        <input
          matInput
          formControlName="proveedor"
          placeholder="Proveedor"
          list="proveedores"
        />
        <datalist id="proveedores">
          <option value="Tapicerias Ruiz"> </option>
          <option value="Tapicerias Gomez"> </option>
          <option value="Tapicerias Turia"> </option>
          <option value="Sito"> </option>
          <option value="Antonio Torres"> </option>
        </datalist>
      </mat-form-field>
    </div>

    <div class="col-md-6">
      <mat-form-field>
        <input
          matInput
          formControlName="precio_proveedor"
          type="currency"
          placeholder="Precio en el proveedor"
        />
        <mat-error *ngIf="precio_proveedor.invalid && precio_proveedor.touched"
          >2 decimales como máximo</mat-error
        >
      </mat-form-field>
    </div>

    <div class="col-md-6">
      <mat-form-field>
        <input
          matInput
          formControlName="pvp"
          type="currency"
          placeholder="PVP"
        />
        <mat-error *ngIf="pvp.invalid && pvp.touched"
          >2 decimales como máximo</mat-error
        >
      </mat-form-field>
    </div>

    <div class="col-md-6">
      <mat-form-field>
        <textarea
          matInput
          formControlName="comentarios"
          placeholder="Comentarios"
        ></textarea>
      </mat-form-field>
    </div>

    <div class="col-md-6">
      <button
        mat-raised-button
        [disabled]="form.invalid"
        color="primary"
        (click)="submitHandler(form)"
      >
        validar
      </button>
    </div>
    <div class="col-md-6">
      <button mat-raised-button color="primary" (click)="onExit()">
        Cancelar
      </button>
    </div>
  </div>
</form>
<toastr-notification></toastr-notification>
