<div class="container" style="text-align:center">
  <div class="row">
    <div class="col-md-10 col-md-offset-1" *ngIf="isAreaChartReady">
      <plotly-plot
        [data]="areaGraph.data"
        [layout]="areaGraph.layout"
      ></plotly-plot>
    </div>

    <div class="col-md-10 col-md-offset-1" *ngIf="isPieChartReady">
      <plotly-plot
        [data]="pieChart.data"
        [layout]="pieChart.layout"
      ></plotly-plot>
    </div>

    <div class="col-md-10 col-md-offset-1" *ngIf="isPieChartReady">
      <plotly-plot
        [data]="gastosPieChart.data"
        [layout]="gastosPieChart.layout"
      ></plotly-plot>
    </div>
  </div>
</div>
