<form  [formGroup]="form">
    <h3>Insertar tela</h3>
    <div class="row">
      
    <div class="col-md-6">
      <mat-form-field>

          <input matInput formControlName="nombre" type="text" placeholder="Nombre">
          <mat-error *ngIf="nombre.invalid && nombre.touched">Es obligatorio un nombre</mat-error>
      </mat-form-field>
    </div>
  
    <div class="col-md-6">
      <mat-form-field>
        
        <input matInput formControlName="tipo" type="text" placeholder="Tipo" list="tipos">
            <datalist id="tipos">
              <option value="Polipiel">
              <option value="Chenilla">
              <option value="Terciopelo">
              <option value="Piel natural">
              <option value="Damasco">  
              <option value="Yute">
              <option value="Tela para exteriores">
              <option value="Lavable">    
            </datalist>
        
      </mat-form-field>
    </div>
  
    <div class="col-md-6">
        <mat-form-field>
          
            <input matInput formControlName="proveedor" placeholder="Proveedor" list="proveedores">
            <datalist id="proveedores">
              <option value="Tapicerias Ruiz">
              <option value="Tapicerias Gomez">
              <option value="Tapicerias Turia">
              <option value="Sito">
              <option value="Antonio Torres">  
            </datalist>
          
        </mat-form-field>
      </div>
  
      <div class="col-md-6">
          <mat-form-field>
            
              <input matInput formControlName="precio_proveedor" type="currency" placeholder="Precio en el proveedor">
              <mat-error *ngIf="precio_proveedor.invalid && precio_proveedor.touched">2 decimales como máximo</mat-error>
  
          </mat-form-field>
        </div>
  
        <div class="col-md-6">
            <mat-form-field>
              
                <input matInput formControlName="pvp" type="currency" placeholder="PVP">
                <mat-error *ngIf="pvp.invalid && pvp.touched">2 decimales como máximo</mat-error>
                
            </mat-form-field>
          </div>
  
  
    <div class="col-md-6">
      <mat-form-field>
        
        <textarea matInput formControlName="comentarios" placeholder="Comentarios"></textarea>
  
      </mat-form-field>
    </div>
  
  <div class="col-md-12">
    <button mat-raised-button [disabled]="form.invalid" color="primary" (click)="submitHandler(form)">validar</button>
  </div>
  </div>
  </form>
  <toastr-notification></toastr-notification> 