<div class="row">
  <div class="col-md-3">
    <button mat-raised-button color="primary" (click)="getMovimientos()">Ver movimientos</button>
  </div>
  <div class="col-md-3">
    <button mat-raised-button color="primary" (click)="getIngresos()">Ver ingresos</button>
  </div>
  <div class="col-md-3">
    <button mat-raised-button color="primary" (click)="getGastos()">Ver gastos</button>
  </div>
  <div class="col-md-3">
      <button mat-raised-button color="primary" (click)="getMovimientosRecientes()">Ver movimientos recientes</button>
  </div>
</div>

<div *ngFor="let movimiento of movimientos">
  <mat-card [ngClass]="{'ingreso': movimiento.tipo=='ingreso', 'gasto':movimiento.tipo=='gasto' }">
      <mat-card-title>Cantidad: {{movimiento.valor | currency}}</mat-card-title>	
          <mat-card-subtitle>{{movimiento.tipo | uppercase}}</mat-card-subtitle>
          <mat-card-content>Concepto: {{movimiento.concepto}}</mat-card-content>
          <mat-card-footer>Dinero de: {{movimiento.caja_banco}}	</mat-card-footer>
  </mat-card>
</div>
