<nav class="navbar fixed-top navbar-expand-md navbar-light bg-light">
  <a class="navbar-brand" routerLink="">Taller Tapicería</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="">
          Inicio <span class="sr-only">(current)</span></a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/ver-movimientos"> Ver Movimientos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/ver-clientes"> Ver clientes</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/ver-telas"> Ver telas</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/ver-graficos"> Gráficos</a>
      </li>
    </ul>
  </div>
</nav>
