.svg-container {
    display: inline-block;
    position: relative;
    width: 100%;
    vertical-align: top;
    overflow: hidden;
}

.svg-legend-container {
    display: none;  /*para no ocupe espacio en el documento y no dañe el display*/
    position: relative;
    width: 100%;
    height: 0%;
    vertical-align: top;
    overflow: hidden;
}

.svg-content {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
}