<div class="container">

  <nav class="navbar navbar-expand-md navbar-light bg-light">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
          <button class="btn btn-outline-success my-2 my-sm-0" (click)="getMovimientos()" type="submit">Ver todos los movimientos</button>
      </li>
      <li class="nav-item">
        <button class="btn btn-outline-success my-2 my-sm-0" (click)="getIngresos()" type="submit">Ver los ingresos</button>
      </li>
      <li class="nav-item">
        <button class="btn btn-outline-success my-2 my-sm-0" (click)="getGastos()" type="submit">Ver los gastos</button>
      </li>
      <li class="nav-item">
        <button class="btn btn-outline-success my-2 my-sm-0" (click)="getMovimientosRecientes()" type="submit">Ver movimientos recientes</button>
      </li>
    </ul> 
  </nav>


  <div class=row>
    <div class="col-md-6">
      <div>
        <app-pie-chart tipo="ingresos" ></app-pie-chart>
      </div>
      <div>
        <app-pie-chart tipo="gastos" ></app-pie-chart>
      </div>
      
    </div>
    <div class="col-md-6">
      <!----------------------------------------------------------------------------------->
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

        <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->
      
        <!-- Position Column -->
        <ng-container matColumnDef="Fecha">
          <th mat-header-cell *matHeaderCellDef> Fecha </th>
          <td mat-cell *matCellDef="let movimiento"> {{movimiento.fecha|date:'short'}} </td>
        </ng-container>
      
        <!-- Weight Column -->
        <ng-container matColumnDef="Concepto">
          <th mat-header-cell *matHeaderCellDef> Concepto </th>
          <td mat-cell *matCellDef="let movimiento"> {{movimiento.concepto}} </td>
        </ng-container>
      
        <!-- Symbol Column -->
        <ng-container matColumnDef="Cantidad">
          <th mat-header-cell *matHeaderCellDef> Cantidad </th>
          <td mat-cell *matCellDef="let movimiento"> {{movimiento.valor | currency:'€'}} </td>
        </ng-container>

        <!--Columna destino-->
        <ng-container matColumnDef="Origen/Destino">
          <th mat-header-cell *matHeaderCellDef> Origen/Destino </th>
          <td mat-cell *matCellDef="let movimiento"> {{movimiento.caja_banco}} </td>
        </ng-container>
      
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;" [ngClass]="{'ingreso': row.tipo=='ingreso', 'gasto': row.tipo=='gasto' }"></tr>
      </table>
    <!----------------------------------------------------------------------------------->
    </div>
  </div>

</div>

